#explore-interactive {
	margin: 2.0rem auto 10px;
    max-width: 620px;

    input {
    	width: 250px;
    	margin: 1em 0 0 0;
    	font-size: 1.3em;
    }

    #interactive-search-suggestions {
    	margin-top: 0em;
    	font-size: 14px;
    	font-family: MetricWeb, sans-serif;

    	.interactive-search-suggestion {
    		cursor: pointer;
		    color: #27757b;
		    border-bottom: 1px dotted #27757b;
		    text-decoration: none;
    	}
    }

    #error-nocompany {
    	height: 0;
    	overflow: hidden;
    	margin-top: 0;
    	margin-bottom: 1em;
    	color: #c00;
    }

    button {
    	font-size: 1.3em;
    }

    #result-wrapper {
    	margin: 1em 0;
    }

    .result-companyName {
    	font-size: 1.3em;
    }

    .result-sectorName {
    	color: #777;
    }

    .result-sectorName-global-hide {
    	visibility: hidden;
    }

	.result-container {
		width: 32.6%;
		display: inline-block;
		margin-top: 2em;
		margin-bottom: 2em;

		.result-header {
			font-weight: 600;
			font-size: 0.9em;
			color: #333;
			text-transform: uppercase;
		}

		.result-chart-container {
			position: relative;
			margin-right: 20px;
			overflow: visible;

			.bar rect{
				stroke-width: 0;
			}

			.bar-labels {
				stroke: #333;
				font-size: 14px;
				font-weight: 500;
			}

			.bar-labels-sectorCountry {
				font-weight: 100;
			}

			.bar-lines {
				stroke: #333;
			}

			.tick {
				font-family: MetricWeb, sans-serif;
				font-size: 14px;
				stroke: #777;
				font-weight: 100;
			}
		}

		.xAxisLabel {
			color: #777;
		}
	}

	.sourceline {
		margin-bottom: 3em;
		color: #777;
		font-size: 14px;
	}
}