$o-grid-is-silent:  false;
@import 'o-colors/main';
@import 'o-grid/main';


$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;


body {
  @include oColorsFor(page, background);
  min-width: 320px;
  width: auto !important; 
  margin: 0;
  border: 0;
  font-family: $font-sans;
}



.half-width {
  float: right;
  display: inline;
  padding: 20px;
  margin: 0px -40px 0px 10px;
}

.full-width {
  display: inline;
  padding: 20px 0px;
  max-width: 600px;
  width: 100%;
}

 .button {    
    border: 2px solid #505050;
    color: #505050;
    padding: 10px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.showten#top10 .button#buttonten,
#top10:not(.showten) .button#buttonage { //active 
    background-color: #505050;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
}



#tenure {
  display: none;
}

.showten #tenure{
  display: block;
}

#age {
  display: block;
}

.showten #age{
  display: none;
}



.button-table {
  text-align: center;
}


.table-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #505050;
  padding: 2em 9em 1em 9em;

  &:before {
    display: block;
    margin: 0 auto;
    width: 60px;
    border: 1px solid #979797;
    content: '';
    margin-bottom: 1.75em;
  }
}

.table-subhead {
  text-align: center;
  font-family: MetricWeb, san-serif;
  font-size: 17px;
}

.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}
    .masthead {
      height: 18px;
    }

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.back-button{
  display: none;
}

.share-links {  
  //margin-left: 10px;
      cursor: pointer;
  > p { @include visually-hidden; }

  > ul {
    list-style: none;
    padding-left: 0;

    > li {
      display: inline-block;
      &:not(:first-of-type) { margin-left: 10px; }
    }
  }

  &__link {
    $size: 40px;

    display: block;
    width: $size;
    height: $size;
    border-radius: 2px;
    background-size: $size $size;

    &--twitter { background-image: url('../assets/twitter_icon.svg'); }
    &--facebook { background-image: url('../assets/facebook_icon.svg'); }
    &--linked-in { background-image: url('../assets/linkedin_icon.svg'); }

    &:hover { background-color: oColorsGetPaletteColor('pink-tint2'); }
    &:active { background-color: oColorsGetPaletteColor('pink-tint3'); }

    > span { @include visually-hidden; }
  }

}

.o-buttons--small{
    display: none;
}

hr {
  margin: 2.0rem auto;
  border: 1px solid oColorsGetPaletteColor('pink-tint3');
  width: 80px;
}

  h2 {
    color: oColorsGetPaletteColor('grey-tint3');
    font-family: $font-display;
    font-weight: 200;
    font-size: 1.35em;
    letter-spacing: 0.01em;
    line-height: 1.2em;
    max-width: 620px;
    margin: 1em auto 12px;
  }

  h3 {
    color: oColorsGetPaletteColor('grey-tint5');
    margin: 0 auto;
/*    max-width: 620px;*/
    font-family: $font-sans;
    font-size: 18px;
    font-weight: 600;
  }

  h6 {
  max-width: 600px;
  margin: 0 auto 10px;
  color: oColorsGetPaletteColor('claret');
  font-family: $font-display;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  font-size: 0.95em;
  > .bullet {
    margin: 0 10px;
    }
  }

  .timestamp {
  color: oColorsGetPaletteColor('warm-6');
  font-family: $font-sans;
  font-size: 12px;
  font-style: normal;

  }

.social-icon-wrapper {

    display: flex;
    justify-content: center;
    align-content: space-around;
  
}

.data-o-component ul {
margin: 0;

}

// .o-ft-icons-icon{
//     width: 40px;
//     font-size: 28px;
//     opacity: .3;
// }


p {
  color: oColorsGetPaletteColor('grey-tint5');
  font-family: $font-serif;
  font-size: 16px;
  line-height: 23px;
  max-width: 620px;
  margin: 0.8em auto;
  //padding: 0 0px;

  > a {

    color: #27757b;
    border-bottom: 1px dotted #27757b;
    text-decoration: none;

  }
}

.about-link {
    color: #27757b;
    border-bottom: 1px dotted #27757b;
    text-decoration: none;

}



text {
  font-family: $font-sans;
}

.about-data-link {
   color: #27757b;
   border-bottom: 1px dotted #27757b;
   text-decoration: none;
}

.fact-card-section {
border-top: hidden;
max-width: 620px;
}

.story-fact-card-left {
  position: relative;
  overflow:hidden; 
  _overflow:visible; zoom:1;
  width: 100%;
  max-width: 360px;
  // height: 180px;
  background-color: white;
  display: inline-block;
  float: left;
  //margin-left: 50px;
  margin: 10px 20px 10px -15%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);
  box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);

}

.story-fact-card-holder {
  position:relative;
  display:inline-block;
  float:right;
  width:40%;
}

.story-fact-card-right {
  overflow:hidden; 
  _overflow:visible; zoom:1;
  width: 360px;
  background-color: white;
  display: inline-block;
  margin: 10px 20px 10px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);
  box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);

}


.table {
  &.table__people {
    padding-left: 10px;
    margin-bottom: 30px;
  }
  > h3 {
    font-weight: 500;
    border-bottom: 1px solid oColorsGetPaletteColor('pink-tint3');
    border-top: 1px solid oColorsGetPaletteColor('pink-tint3');
    color: oColorsGetPaletteColor('grey-tint4');
    padding: 9px 9px 9px 9px;
    margin-top: 0px;
    background-color: oColorsGetPaletteColor('pink-tint1');
  }
  > table {

    width: 100%;
    > thead > th {
      font-weight: 600;
      
    }
    > tbody > tr > td {
      color: oColorsGetPaletteColor('grey-tint4');
      padding: 8px 5px;
      border-bottom: 1px solid oColorsGetPaletteColor('pink-tint2');
  
    }
    > tbody > tr > td:nth-child(4) {

       color: oColorsGetPaletteColor('grey-tint5');
        text-align: right;      
        -webkit-font-feature-settings: 'tnum' 1;
    font-feature-settings: 'tnum' 1;
    }

    > tbody > tr > td:nth-child(3) {

      text-align: right;
      -webkit-font-feature-settings: 'tnum' 1;
    font-feature-settings: 'tnum' 1;
    }
    
  }
}

.card-icon {
 float: left;
    //width: 61px;
    //height: 57px;
    margin: 20px 15px 10px 20px;
   
}

img .tax{

  width: 51px;
  height: 41px;
  //margin: 20px 10px 10px 15px;

}

img .boomerang{

  width: 37px;
  height: 41px;
  //margin: 20px 10px 10px 15px;

}

img .ralph-lauren{
  width: 37px;
  height: 41px;
  //margin: 20px 10px 50px 15px;

}

img .helicopter{
  width: 60px;
  height: 35px;
  //margin: 20px 10px 50px 15px;

}

img .free-label{
  width: 39px;
  height: 38px;
  //margin: 20px 10px 50px 15px;

}

img .market-rate{
  width: 39px;
  height: 38px;
  //margin: 20px 10px 50px 15px;

}

img .commercial-plane{
  width: 39px;
  height: 38px;
  //margin: 20px 10px 50px 15px;

}


.story-card-link1 {
    margin-right: 20px;
    float: right;
    font-family: $font-sans;
    font-size: 16px; 
    color: #27757b;
    border-bottom: 1px dotted #27757b;
    text-decoration: none;
    margin-bottom: 15px;
}

.story-card-link {
    font-family: $font-sans;
    font-size: 16px; 
    color: #27757b;
    border-bottom: 1px dotted #27757b;
    text-decoration: none;
    
}


.story-fact-words {
  font-family: $font-sans;
  color: oColorsGetPaletteColor('grey-tint3');
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
  float: right;
  width: 240px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  clear:right;
}

.fact-words {

  font-family: $font-sans;
  color: oColorsGetPaletteColor('grey-tint3');
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
  padding: 20px 25px 25px 87px;
}

.figure-highlight{
  color: oColorsGetPaletteColor('claret');
  font-weight: 500;

}

.fact-words a {

   color: #27757b;
   border-bottom: 1px dotted #27757b;
   text-decoration: none;
}

.fact-card {
   border-radius: 10px;
  margin: 10px auto;
  max-width: 800px;
  background-color: white;
  border: 1px #d3d3d3;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);
-moz-box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);
box-shadow: 0px 1px 1px 0px rgba(206,198,185,1);
}

.o-grid-container {
  margin-top: 30px;
  margin-bottom: 10px;
  }

.viz {
  border-top: 1px solid oColorsGetPaletteColor('pink-tint2');
  border-bottom: 1px solid oColorsGetPaletteColor('pink-tint2');
  margin: 15px auto;
  position: relative;
}


 .panel {
  background-color: rgba(253, 248, 242, 0.92);
  max-width: 315px;
  padding: 20px;
  box-sizing: border-box;
 }

.mobile-annotations {
  display: hidden;

}

.o-buttons--big {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-width: 1px;
}

.slideCounter{
  margin-left: 10px;
  color: oColorsGetPaletteColor('grey-tint4');
}

.slideCounter-number{
  font-weight: 600;
  color: oColorsGetPaletteColor('grey-tint5');
}

.annotation {
  color: oColorsGetPaletteColor('grey-tint4');
  clear: both;
  padding: 15px 10px 10px 0px;
  font-size: 18px;
  font-weight: 200;
  line-height: 25px;
 
}

rect {
  stroke-width: 1px;
  stroke: red;
}


.label { 
  text-anchor: end; 
}


.chart-title { 
    color: oColorsGetPaletteColor('grey-tint5');
    padding: 20px 0 5px 0;
    font-size: 25px;
    font-weight: 300;
    display: block;
}

.chart-subtitle { 
  color: oColorsGetPaletteColor('grey-tint3');
  font-size: 18px;
  display: block;
}

.chart-source { 
  color: oColorsGetPaletteColor('grey-tint3');
  font-size: 14px;
  display: inline-block;
  padding: 10px;

}

.buttonHolder {
  display:block;
  margin-top:20px;
}

.buttonHolder > * {
  margin-right: 5px;
}

.o-buttons__pagination{
  display: block;
  float:right;

}

.o-buttons__pagination::before{
  padding-right: 7px;
  content:"1 of 9"
}

p .page-links{
  margin-top: 60px;
}

.page-links {
  //margin-top: 20px;
  font-family: $font-sans;
  font-size: 21px; 
  font-weight: 200;
    color: #27757b;
    border-bottom: 1px dotted #27757b;
    text-decoration: none;
}

.github-link{
  margin: 30px 0px 30px 80px;

}

.chart-link{
  margin-bottom: 20px
}

.circles {
  stroke: oColorsGetPaletteColor('claret');
  fill-opacity: 0.5;
  stroke-width: 0.5px;
  fill: oColorsGetPaletteColor('claret');
}

.circles.highlight {
  fill: oColorsGetPaletteColor('claret');

}

.secLine {
  opacity:0;
  stroke: oColorsGetPaletteColor('grey-tint5');
  stroke-width: 1px;
  stroke-dasharray: 4, 3;
}

.secLine-text {
  font-size: 13px;
  letter-spacing: 0.3;
}

.cumulativeRect {
  opacity:0.1;
}

.axes path, .axes line {
  fill: none;
  stroke: #a7a59a;
  shape-rendering: crispEdges;
}

article h3{
  margin-top: 30px;
}

.standfirst-link{
  color: #27757b;
    border-bottom: 1px dotted #27757b;
    text-decoration: none;

}

.axes text {
  font-family: $font-sans;
  font-size: 16px;
  font-weight: 200;
  fill: #777;
  shape-rendering: crispEdges;
}

.yAxis text {
  text-anchor: end;

}

.yAxis line {
  stroke-dasharray: 1 , 4;
  stroke: #a7a59a;
}

.yAxis path {
  display: none;
}

.chart-xaxis-label {
  font-size: 16px;
}

.chart-xaxis-label-middle {
  font-size: 17px;
  font-weight: 600;
  fill: oColorsGetPaletteColor('grey-tint3');
}

.chart-xaxis-label-left, .chart-xaxis-label-right {
  font-size: 17px;
  font-weight: 400;
  fill: oColorsGetPaletteColor('grey-tint3');  
}

.chart-xaxis-label-right-arrow, .chart-xaxis-label-left-arrow {
    font-size: 12px;
    fill: oColorsGetPaletteColor('grey-tint3');  
}

section{
  border-top: 1px solid oColorsGetPaletteColor('pink-tint3');
  margin: 20px auto;
  max-width: 620px
}

.download-data-container{
  display: flex;
  flex-direction:row;

}

.download-csv{
   padding-top: 13px;
  width:68px;
  height:87px;
  padding-right: 10px;
  cursor:pointer;
}

section h3 {
 
      margin-top: 20px;
    margin-bottom: 10px;
  
}

section ul,
section p {
 font-family: $font-sans;
    font-size: 17px;
    line-height: 22px;
 color:oColorsGetPaletteColor('grey-tint3');
}


section li {
  padding-bottom: 20px;
}

.link-container{
  display: flex;
  flex-direction:column;
  justify-content:center;
  max-width: 320px;
  text-align: center;
  margin: 0 auto 20px;
}

article{
  margin:0 auto;
  padding-bottom: 20px;
  max-width:620px;
}

.credits{
    margin: 0 auto;
    //padding-bottom: 20px;
    max-width: 620px;
 font-family: $font-sans;
 font-size: 15px;
 color:oColorsGetPaletteColor('pink-tint3');
  border-top: 1px solid oColorsGetPaletteColor('pink-tint3');

}

.faux-inline-block {
    display: inline-block;
}

.video-player {
  @include oGridCenter;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 600px;
  height: 331px;
}
​
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
​
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
​
.video-player {
  float: none;
  max-width: 600px;
  margin: 10px auto 40px;
  height: 331px;
}
​
.video-container {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
​
.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@include oGridRespondTo(M) {

  .table__container {
    min-width: 620px;
  }
  .table {
    &.table__people .table__companies {
      padding-left: 0;
     padding-right: 20px;
     margin-bottom: 30px;
      border-right: 1px solid oColorsGetPaletteColor('pink-tint2');
    }

  }
}

@media (max-width: 800px) {

  .panel {
    float: right;
    background-color: oColorsGetPaletteColor('pink');
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .mobile-annotations {
  color: oColorsGetPaletteColor('grey-tint4');
  position:absolute;
  left: 30%;
  top: 150px;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  max-width: 300px;

  }

  .chart-title { 
    padding: 15px 0 5px 0;
    font-size: 21px;
    display: block;
  }
  .annotation {
  display:none; 
  }
  .slideCounter{
  margin-right: 10px;
  }

  .chart-xaxis-label-middle, .chart-xaxis-label-left, .chart-xaxis-label-right {
    font-size: 15px;
  }

  .chart-xaxis-label-right-arrow, .chart-xaxis-label-left-arrow {

  font-size: 12px;
  }

  .github-link {
    margin: 10px 0px 30px 80px;
  }

  .link-container p {
    margin:10px;
    }

  .page-links{
        font-size: 20px;
    }

  .back-button{
    display: block;
    border-color: #fff1e0;
    background:#fff1e0;
    position: absolute;
    top: 5px;
    left: 5px;
    padding-left:10px;
    font-size: 25px;
  }

  .back-button:visited{
     border-color: #fff1e0;
      background:#fff1e0;
  }

  .masthead{
    height:15px;
  }

  .sortable-table-container {
    display:none;
  }

  .hide-download-data {
    display:none;
  }

  .download-csv {
      padding-right: 10px;
      padding-top: 13px;
  }

  .story-fact-card-left {
    margin-left: 0px;
  }

  .story-fact-card-holder {
    width: inherit;
  }
}

  .story-fact-card-right .story-fact-words {
    width:260px;
  }

@media (max-width: 740px) {
  .video-player {
    height: 300px;
  }

}


@media (max-width: 600px) {

  .half-width {
  float: none;
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
  width: 300px;
   img {
    width: 100%;
  }
  }

  .full-width {
  display: inline;
  padding: 20px 0px;
  max-width: 600px;
  width: 100%;
 }

  h1 {
    font-size: 2.1em;
    line-height: 32px;
    margin: 1rem auto 10px;
    text-align: left;
  }

  h6 {
    line-height: 19px;
    text-align: left;
  }

  h2 {
    line-height: 1.2em;
  }

  .social-icon-wrapper {
    justify-content: flex-start;
  }

  .story-fact-card-holder {
    display: block;
    float: none;
  }
  .story-fact-card-left, .story-fact-card-right {
    display: block;
    margin: 0 auto 10px;
    float: none;
    right: 0px;

    > img {
      display: block;
      float: none;
      margin: 20px auto 0px;
    }
  }

  .story-fact-words {
    width: initial;
    padding-left: 15px;
    font-size: 17px;
    line-height: 21px;
  }

  .table-heading {
    padding: 1.75em 2em .75em 2em;  
  }

}

@media (min-width: 800px) and (max-width: 900px) {
  .story-fact-card-holder {
    width: 50%;
  }
}



@media (max-width: 490px) {
  .video-player {
    height: 250px;
  }


}

@media (max-width: 360px) {
  .story-fact-card-right{
    width: 100%;
  }
  .video-player {
    height: 210px;
  }


}

/* steve's css*/
.main-panel {
    // width:55%;
    float: none;
    margin-top: 16px;
    .byline {
      font-family: $font-sans;
      text-align: center;
      width: 100%;
      font-size: 16px;
      margin: 12px auto;
    }
    .o-typography-flyline__link,
    .article__byline a {
      color: #9e2f50;
      text-transform: none;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        border-bottom-color: #4f1828;
        color: #4f1828;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
      }
    }
    .o-typography-flyline__link {
      font-size: 18px;
    }
    .article__byline {
      margin-right: 10px;
    }
    .article__timestamp {
      font-size: 13px;
      line-height: 1.2em;
      color: #8b572a;
      text-transform: uppercase;
    }
    p {
      text-align: left;
      margin: 12px 0;
    }
    h1 {
      font-family: $font-display;
      font-size: 2em;
      font-weight: normal;
      font-style: normal;
      width: 100%;
      padding-top: 16px;
      margin-bottom: 8px;
      border-top: 1px solid #e9decf;
      margin-top: 8px;
    }
    .introtext {
      text-align: left;
      font-family: $font-display, Georgia, serif;
      font-size: 18px;
      color: oColorsGetPaletteColor('grey-tint4');
      max-width: 620px;
      line-height: 22px;
      margin: 0 auto 0.8em;
      a {
         color: oColorsGetColorFor(link, text);
         text-decoration: none;
      }
    }

    .share-links {
        // text-align: center;
        // margin-bottom: 30px;
        float: right;
        position: relative;
        bottom: 12px;
    }

    .share-links__link:hover {
    opacity: .8;
}
a:hover {
    color: #112d30;
}

.share-links{text-align:center}.share-links__link{display:inline-block;margin:0 5px;height:33px;width:33px;background-size:33px;background-position:50%;background-repeat:no-repeat;border-radius:33px;opacity:.3}.share-links__link:hover{opacity:.3; background-color:#cec6b9;}.share-links__link--twitter{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(1 1.045)'%3E%3Cpath fill='%23000' d='M20.85 10.9c.6-.36 1.07-.96 1.3-1.67-.58.35-1.2.6-1.87.74-.54-.6-1.3-.96-2.14-.96-1.62 0-2.93 1.38-2.93 3.05 0 .24.05.47.1.7-2.44-.13-4.6-1.34-6.04-3.17-.25.44-.4.97-.4 1.52 0 1.04.52 1.97 1.3 2.52-.47-.02-.92-.16-1.32-.38v.04c0 1.47 1 2.7 2.35 2.97-.25.07-.5.1-.78.1-.18 0-.36 0-.54-.05.37 1.2 1.45 2.08 2.74 2.1-1 .82-2.27 1.3-3.64 1.3-.24 0-.47 0-.7-.03 1.3.86 2.84 1.36 4.5 1.36 5.37 0 8.32-4.62 8.32-8.63V12c.56-.42 1.06-.96 1.45-1.57-.53.24-1.1.4-1.68.48z'/%3E%3Cellipse cx='15.02' cy='15.02' stroke='%23000' opacity='.6' rx='15.02' ry='15.02'/%3E%3C/g%3E%3C/svg%3E")}.share-links__link--facebook{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(1 1)'%3E%3Cellipse cx='14.934' cy='14.934' stroke='%23000' opacity='.6' rx='14.934' ry='14.934'/%3E%3Cpath fill='%23000' d='M13.45 12.742h-1.22v2.078h1.22V21h2.493v-6.18h1.68s.153-.996.23-2.084h-1.9v-1.423c0-.213.275-.5.54-.5h1.36V8.65H16.01c-2.622 0-2.56 2.083-2.56 2.393v1.7z'/%3E%3C/g%3E%3C/svg%3E")}.share-links__link--linkedin{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(1 1.045)'%3E%3Cpath fill='%23000' d='M22.27 22.23V16.2c0-1.23-.32-2.17-.95-2.8-.63-.66-1.47-.98-2.52-.98-.38 0-.73.06-1.06.16-.34.1-.6.24-.82.4-.2.15-.4.3-.55.46-.16.15-.27.28-.33.4l-.1.16v-1.28H13.1v9.5h2.83v-5c0-.67.16-1.2.47-1.56.3-.37.75-.56 1.33-.56 1.07 0 1.6.7 1.6 2.13v5h2.94zm-11.04-9.5H8.28v9.5h2.95v-9.5zm-2.73-1.8c.35.35.76.53 1.24.53s.9-.18 1.23-.52c.34-.34.5-.76.5-1.25 0-.5-.16-.9-.5-1.27-.34-.34-.75-.5-1.23-.5s-.9.17-1.23.5C8.2 8.8 8 9.2 8 9.7s.18.9.5 1.24z'/%3E%3Cellipse cx='15.02' cy='15.02' stroke='%23000' opacity='.6' rx='15.02' ry='15.02'/%3E%3C/g%3E%3C/svg%3E")}.share-links__link>span{margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0 0 0 0);clip:rect(0,0,0,0);position:absolute}
}

.byline {
  font: 14px/1.20 FinancierText;
  text-align: center;
  color: #333;
}

@include oGridRespondTo(S) {
  .main-panel {
    .introtext {
      max-width: 720px;
      text-align: left;
      font-size: 20px;
    }
    .byline {
      max-width: 720px;
      text-align: left;
    }
  }
}



@include oGridRespondTo(M) {
  .main-panel {
    margin-top: 16px;
    // .introtext {
    //   max-width: 620px;
    // }
    .byline {
      text-align: center;
    }
    .o-typography-flyline__link {
      font-size: 20px;
    }
    h1 {
      font-size: 50px;
      margin-top: 10px;
      line-height: 1.1em;
      text-align: center;
    }
    .introtext {
      font-size: 22px;
      line-height: 26px;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.4em;
    margin: 10px 0 0 0;
  }

  .site-header {
    padding: 18px 0 14px;
    margin-bottom: 20px;
  }
  .masthead {
      height: 18px;
  }

  .intro {
    font: 19px/1.3 FinancierText;
     // max-width: 744px;
  }

  .byline {
    font: 16px/1.20 FinancierText;
  }
}

@include oGridRespondTo(L) {
  .main-panel {
    h1 {
      font-size: 56px;
      padding-top: 20px;
      line-height: 1.1em;
    }
    .introtext {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

/* end of steve's css*/
